


header{

    background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/10412.png");
    background-size: cover;
    width: 100%;
    height: 50vh;
    object-fit: cover;

    div{
        padding: 50px;
        color: white;
        font-weight: bold;
    }

}
.listManga{


    .card{
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: red;


        img{
            position: relative;
            left: 20%;
        }
    }
}

.mangaPopulaire {
    .card{
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #ec34e5;


        img{
            position: relative;
            left: 30%;
        }
    }
}